@use "global" as *;


.c-news-btn {
    position: relative;
    display: inline-block;
    font-size: rem(20);
    font-weight: $normal;
    line-height: 1.45;
    letter-spacing: 0.01em;
    padding-top: rem(11);
    padding-bottom: rem(11);
    background-color: $gray;
    border: 1px solid $white;
    text-align: center;
    max-width: rem(335);
    width: 100%;
    @include mq('md') {
        max-width: rem(360);
        font-size: rem(16);
        padding: rem(3) rem(27);
        color: $black;
        background-color: $white;
    }
}

.c-news-btn span {
	position: relative;
	z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
    color:$white;
    @include mq('md') {
        color:$black;
    }
}

.c-news-btn:hover span{
	color: $gray;
    @include mq('md') {
    color:$white;
    }
}

/*== 背景が流れる（左から右） */
.c-news-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background:$white;
    width: 100%;
    height: 100%;
    transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top;
    @include mq('md') {
        background: $gray;
    }
}

/*hoverした際の形状*/
.c-news-btn:hover::before{
    transform-origin:left top;
    transform:scale(1, 1);
}