@use "global" as *;

.p-content__title-wrap {
    text-align: center;
}

.p-content__title {
    display: inline-block;
    position: relative;
}

.p-content__title::before {
    display: inline-block;
    content:"Content";
    font-family: $second-font-family;
    font-size: rem(50);
    font-weight: $normal;
    color: $lightyellow;
    opacity: 0.27;
    line-height: 1.45;
    letter-spacing: 0.04em;
    position: absolute;
    top: rem(-47);
    left: rem(-62);
    z-index: 1;
    @include mq('md') {
        font-size: rem(110);
        top: rem(-94);
        left: rem(-470);
    }
}

.p-content__block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(48);
    @include mq('md') {
        flex-wrap: nowrap;
    }
}

.p-content__img-box {
    position: relative;
    display: block;
    width: 50%;
}

.p-content__img {
    aspect-ratio: 168 / 188;
    width: 100%;
}

.p-content__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-content__head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}