@use "global" as *;


.p-pc-nav__items {
    display: flex;
    align-items: center;
}

.p-pc-nav__item {
    font-size: rem(16);
    line-height: 2.1875;
    letter-spacing: 0.125em;
    font-weight: $normal;
    color: $white;
    position: relative;
}

.p-pc-nav__item a{
    display: inline-block;
    padding: rem(9) rem(16);
}

.p-pc-nav__item::before {
    display: inline-block;
    content:"";
    width: 70%;
    height: 1px;
    background-color: $lightyellow;
    position: absolute;
    bottom: rem(8);
    left: rem(13);
    transition: .3s;
    opacity: 0;
}


.p-pc-nav__item:last-child {
    color: $black;
    background-color: $white;
}

.p-pc-nav__item:last-child:hover:before {
    opacity: 0;
}

.p-pc-nav__item:hover::before{
    opacity: 1;
}
