@use "global" as *;


.wp-pagenavi {
	text-align:center;
}

.wp-pagenavi a,
.wp-pagenavi span {
	display: inline-block;
	color: $white;
	background-color: $black;
	padding: 0 rem(8);
	margin: 0 rem(8);
	white-space: nowrap;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	text-align: center;
	border: 1px solid $white;
	font-size: rem(16);
}

.wp-pagenavi a:hover{
	color: $black;
	background-color: $white;
	transition: .3s;
    }

.wp-pagenavi span.current{
	color: $black;
	background-color: $white;
    }