@use "global" as *;


.l-works {
    padding-top: rem(120);
}

.l-works__title {
    text-align: center;
}

.l-works__body {
    padding-top: rem(24);
    padding-bottom: rem(21);
    padding-left: $padding-sp;
    padding-right: $padding-sp;
    background-color: $gray;
}

.l-works__head {
    text-align: center;
}

.l-works__text {
    margin-top: rem(24);
}

.l-works__btn {
    text-align: center;
    margin-top: rem(16);
}